<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <style>
        p {
            line-height: 1.5rem;
        }

        .img-box {
            width: 100%;
            text-align: center;
        }

        .img-box img {
            width: 80%;
        }
        .about-container {
            width: 90%;
            margin: auto;
        }
    </style>
</head>

<body>
    <!-- Website Header  -->
    <%- include("header"); %>
    <main id="about-us">
        <div class="main-container">
            <div class="img-box">
                <img src="images/background/worldmap.png" alt="Ansham Company about-us">
            </div>
            <div class="about-container">
                <h1 style="display: none;">About us</h1>
                <h2>Who we are?</h2>
                <p>
                    ANSHAM & COMPANY is based out of Kannauj. A city which is known as “The perfume Capital of India”
                    and Kannauj is to
                    India what Grasse is to France”. Kannauj has been the perfumery town of the country for thousands of
                    years.
                </p>
                <p>
                    ANSHAM & COMPANY, is the the first company In India which has been in the perfume business for
                    almost more than 130
                    years now. It was founded in the year 1970 and till today has remained committed to the best and
                    purest quality of
                    products to its customers. With changing times, Ansham Company started trading in the year 1995,
                    with a motive to evolve
                    significantly from the parent entity in to the export market. Since the inception, the group has
                    carried out the legacy
                    of its fore fathers of delivering the best quality to its customers. Slowly carving a niche in the
                    worldwide market, we
                    established ourselves as one of the leading manufacturers & exporters of Attars, Essential Oils,
                    Floral water, perfumery
                    compounds, absolutes, etc.</p>
                <p>
                    Our unique production of fragrances till today is carried out in the most traditional extraction
                    form which is called
                    “Degs and Bhapka system“. The steam distillation process is a traditional way to extract natural
                    fragrance or oil from
                    the plant. It derives the purest characteristic of odour of the plant
                </p>
                <p>
                    which are alcohol and chemical free. As the leading perfume and essential oil manufacturer in India,
                    we also make it a
                    point that we offer unparallel quality product without losing out on cheap competition. Apart from
                    being specialists in
                    manufacturing high quality Chewing Zarda & Floral water. One of our most sought after product is
                    Attar Kasturi, which is
                    used in Zarda and snuff. Even the Natural Perfumes we offer are of unrivalled quality and processed
                    from extracts of
                    Gulab ( Rose), Kewra ( Pandanus), Khas ( Vetivert), Bela, Chameli, Juhi, Champa, Moulsari, Genda
                    (Marigold), Hina, Mitti
                    ( Earth Perfumes) and other natural flowers and aromatic herbs.
                </p>
                <h2>Quality Policy</h2>
                <p>
                    Being a quality-conscious enterprise, we at Ansham Company strive to maintain quality of our product
                    at each level of
                    production process by adhering to various global standards. Right from the stage of procurement of
                    raw materials until
                    delivery, our quality experts keep strict vigil on various production stages. We have properly laid
                    out a Quality
                    Management Policy that incorporates guidelines for development of Attars, Essential Oil, etc., in
                    accordance with our
                    set quality parameters. We also have our in-house testing laboratory well equipped with latest
                    analytical and
                    performance testing equipment to test raw materials and finished goods and ensure top quality of our
                    products. Our
                    quality experts test our Attars, Essential Oil on various parameters such as
                </p>
                <ul>
                    <li>No side effects.</li>
                    <li>Long shelf life.</li>
                    <li>Purity, etc.</li>
                </ul>
                <h2>Infrastructure</h2>
                <p>
                    Our infrastructure plays a pivotal role in enabling us to meet the increasing requirements of our
                    clients. We have a
                    world class manufacturing unit outfitted with a range of hi-tech machines and equipment that
                    facilitate production of
                    Attars & Essential Oil within strict time frame. Our infrastructure also embraces a well-segmented
                    warehouse for
                    systematic inventory management that exhibits the following features:
                </p>
                <ul>
                    <li>Spacious &amp; well-guarded.</li>
                    <li>24/7 power back up.</li>
                    <li>Resistant to weather calamities.</li>
                    <li>Free from rodents. Fire proof.</li>
                </ul>
                <p>
                    Moreover, we have a world class quality wing empowered with best of quality personnel and
                    sophisticated testing
                    equipment and tools for ensuring product quality, reliability and safety. We also have a packaging
                    section wherein we
                    pack our range in a customized manner to ensure optimum level of client satisfaction.
                </p>
                <h2>Why 'ANSHAM & COMPANY'</h2>
                <p>Owing to the wealth of top class features, our products are in constant demand from multiple regions
                    of India. Some key
                    factors that make us stand tall in the Indian market are:
                </p>
                <ul>
                    <li>Rich industry experience</li>
                    <li>High quality assurance</li>
                    <li>Robust manufacturing facility</li>
                    <li>Premium range of products</li>
                    <li>Competitive pricing.</li>
                </ul>
            </div>
        </div>
    </main>
    <!-- Footer -->
    <%- include("footer"); %>
    <!-- javascript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="javascript/index.js"></script>
</body>

</html>