<footer id="footer">
    <div class="container-fluid">
        <div class="footer-box">
            <div class="about-box">
                <ul>
                    <li><a href="/about">About us</a></li>
                    <li><a href="/contact">Contact us</a></li>
                </ul>
            </div>
            <div class="social-box">
                <a href="#"><i class="fab fa-facebook-square"></i></a>
                <a href="#"><i class="fab fa-instagram-square"></i></a>
                <a href="#"><i class="fas fa-envelope-square"></i></a>
            </div>
        </div>
    </div>
</footer>