<header>
    <div id="header">
        <div class="container-fluid header-container-top">
            <div class="logo-container">
                <a href="/"><img src="images/webiste-logo/am-logo.png" alt="Ansham & Company"></a>
            </div>
        </div>
        <div class="container-fluid header-container-bottom">
            <div class="hamburger"><span><i class="fas fa-bars"></i></span></div>
            <div class="times-icon"><span><i class="fas fa-times"></i></span></div>
            <div class="mobile-logo"><img src="images/webiste-logo/logomobile.png" alt="Ansham Company"></div>
            <nav class="navbar">
                <ul class="menu">
                    <li class="menu-item"><a href="/">Home</a></li>
                    <li class="menu-item"><a href="/essential-oil">Essential oil</a></li>
                    <li class="menu-item"><a href="/absolute-oil">Absolute oil</a></li>
                    <li class="menu-item"><a href="/floral-water">Floral Water</a></li>
                    <li class="menu-item"><a href="/attar">Attar</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>