<div class="modal-box">
    <div id="spinner" class="loader"></div>
    <div class="modal-popup">
        <div class="close-button" onclick="modalBoxClose()"><i class="far fa-times-circle"></i></div>
        <div class="product-title">
            <h2></h2>
            <ul></ul>
        </div>
        <div class="product-des">
            <h3>Description</h3>
            <p></p>
            <h3>Characteristics</h3>
            <ul></ul>
        </div>
    </div>
</div>